html, body {
    height: 100%;
    font-size: 1em;
    margin: 0;
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    /*background-color: red;*/
}

.header {
    position:relative;
    min-height: 50px;

    background-color: black;

}
.upperLine{
    background-color: green;
    vertical-align: top;
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:5px;
}

.side-bar {
    background-color: yellow;
    width: 200px;
    min-width: 200px;
}

.content {
    background-color: lightblue;
    width: 100%;
}

.footer {
    font-size: 1.15em;
}
 .logo {
    width: 100px;
    height: 100px;
}
.topMiddle {
    display: inline-block;
    vertical-align: top;
    align-self: center;
    color: yellow;
}


li{

    display: inline-block;
    margin: 5px;
}
li:hover{

    background-color: darkolivegreen;
}
.menu{

    color:white;
    vertical-align: top;
}
ul{
    float: right;
    list-style-type: none;
    vertical-align: top;
    display: flex;
    flex-direction: row;
}
.menuLine{
    height:50px;

}
.apply{

    background-color: green;
}
.bolder{
    font-weight: bold;
}
.logoName{
    vertical-align: middle;
    display: inline-block;
    margin: 5px;
    float:left;
    color:white;

}